@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
    font-family: "DM Sans", sans-serif !important;
}

button {
    border-radius: 14px !important;
}

.v-container {
    max-width: 67.5rem !important;
}

html,
body {
    overflow-x: hidden !important;
    width: 100%;
    max-width: 100%;
}

.v-application {
    overflow-x: hidden !important;
    width: 100%;
    max-width: 100%;
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}